<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_vaccinationsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vaccine"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/vaccine"
        android:supportsRtl="true"
        android:theme="@style/Theme.EvaccinationSystem">
        <activity
            android:name=".deleterecords"
            android:exported="false" />
        <activity
            android:name=".UpdateRegisteredUserData"
            android:exported="false" />
        <activity
            android:name=".Updaterecords"
            android:exported="false" />
        <activity
            android:name=".viewDatabaseContent"
            android:exported="false" />
        <activity
            android:name=".registernewadminuser"
            android:exported="false" />
        <activity
            android:name=".admin_Layout"
            android:exported="false" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminData"
            android:exported="false" />
        <activity
            android:name=".BookVaccineAppointment"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>